parameters:
	level: 8
	paths:
		- src
		- tests
	ignoreErrors:
		-
			messages:
				- '#is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject#'
				- '#will always evaluate to true#'
			path: tests/*
